/* Colours */
.bg-light {
  background-color: #ebebe8;
}

.bg-light-alt {
  background-color: #f6f3ee;
}

.bg-dark {
  background-color: #1b1b1b;
}

.bg-white {
  background-color: #fff;
}

.color-primary {
  color: #3e4e61;
}

.color-secondary {
  color: #deb06f;
}

.color-white {
  color: #fff;
}

/* Spacing */
.py-6 {
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 5rem;
}

.mb-6 {
  margin-bottom: 5rem;
}
